.song-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #7A93FF;
  width: 100%; }

.song-list-item {
  position: relative; }
  .song-list-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #4458B2; }

.song-list-empty {
  width: 100%;
  text-align: center; }
