.song {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 1rem;
  align-items: center;
  position: relative; }
  .song.is-playing .song-playing-icon {
    opacity: 1; }
  .song.is-selected {
    background: #4458B2; }
  .song:hover {
    cursor: pointer;
    opacity: .7; }
  .song.song-album .song-box-art,
  .song.song-album .song-album,
  .song.song-album .song-artist {
    display: none; }
  .song.song-album .song-title {
    font-size: 1.3rem; }
  .song .song-title,
  .song .song-artist,
  .song .song-album {
    color: white;
    margin: 0.2rem 0; }
  .song .song-album {
    font-weight: normal; }
  .song .song-body {
    padding: 0 1rem;
    margin-right: auto; }
  .song .song-box-art {
    align-self: center; }
  .song .song-playing-icon {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0; }
