.song{
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 1rem;
  align-items: center;

  &.is-playing{
    .song-playing-icon{
      opacity: 1;
    }
  }

  &:hover{
    cursor: pointer;
    opacity: .7;
  }

  .song-title,
  .song-artist,
  .song-album{
    color: white;
    margin: 0.2rem 0;
  }

  .song-album{
    font-weight: normal;
  }

  .song-body{
    padding: 0 1rem;
    //this pushes the icon to the far right
    margin-right: auto;
  }

  .song-box-art{
    align-self: center;
  }

  .song-playing-icon{
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0;
  }
}