.song {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 1rem;
  align-items: center; }
  .song:hover {
    cursor: pointer;
    opacity: .7; }
  .song .song-title,
  .song .song-artist,
  .song .song-album {
    margin: 0.2rem 0; }
  .song .song-album {
    font-weight: normal; }
  .song .song-body {
    padding: 0 1rem;
    margin-right: auto; }
  .song .song-box-art {
    align-self: center; }
  .song .song-playing-icon {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0; }
