@import "common/sass/variables";

*{
  box-sizing: border-box;
}
.App{
  padding: 2rem;
  background: $brown;
  display: grid;
  min-height: 100vh;
}

@media only screen and (min-width: $largeBreakpoint) {
  .App {
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
    .album-information {
      display: block;
    }
  }
}